<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body>
<div id="todo-list">
<h1>My Todo List</h1>
<form hx-post="{% url 'add_todo' %}" hx-trigger="submit" hx-target="#todo-list" method="POST">
    {% csrf_token %}
    <label>Create a Todo:
        <input type="text" name="todo_title" placeholder="Enter new todo">
    </label>
    <input type="submit" value="Add Todo">
</form>
  {% block content %}
  {% endblock %}
</div>
</body>
</html>
