{% extends 'base.html' %}

{% block content %}
    {% for todo in todos %}
        <form hx-post="{% url 'update_todo' %}" hx-trigger="submit" hx-target="#todo-list" method="POST">
            {% csrf_token %}
            <input type="hidden" name="todo_id" value="{{ todo.id }}">
            {% if todo.status %}
                <span>{{ todo.title }} </span>
                <button type="submit">Redo</button>
            {% else %}
                <span>{{ todo.title }}</span>
                <button type="submit">Complete</button>
            {% endif %}
        </form>
    {% empty %}
        <p>No tasks created</p>
    {% endfor %}
{% endblock %}
