{% extends 'base.html' %}

{% block content %} {# Creates a block that can be imported elsewhere #}
    {% for todo in todos %} {# We need to wrap python with {%  %} #}
        <form action="{% url 'update_todo' %}" method="POST"> {# registered in views.py #}
            {% csrf_token %} {# Form Security #}
            <input type="hidden" name="todo_id" value="{{ todo.id }}">
            {% if todo.status %}
                <span>{{ todo.title }} </span>
                <button type="submit">Redo</button>
            {% else %}
                <span>{{ todo.title }}</span>
                <button type="submit">Complete</button>
            {% endif %}  {# we need to exit the if statement #}
        </form>
    {% empty %}
        <p>No tasks created</p>
    {% endfor %} {# we need to exit the for loop #}
{% endblock %} {# we need to exit the block #}